<nav class="navbar navbar-expand-sm bg-primary justify-content-center">
    <div class="container-fluid">
      <a class="navbar-brand droid" href="/loggedin">Droid</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="/loggedin">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-white" href="/text">Text-to-Speech</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-white" href="/speech">Speech-Recognition</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-danger text-white p-2" href="/">Log-Out</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>