<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/lisaheader') %>
    <div class="container">
      
        <div class="ebenimg"></div>
        <h1 class="name">Jumbo Ebenezer</h1>

        <div class="bio">
          <div class="bion">
            <p>
              <strong>Jumbo Ebenezer</strong> is a native of Bonny Island in
              Rivers state, Nigeria, . He was born on the 17th of October 2004
              in Bonny Island. He has lived in Bonny from his birth. He attended
              the academic institution named Kingdom Heritage from kindergarten
              up on till 2014, then he began his years of Junior secondary in
              the year 2015. In 2019 he began attending
              <strong>Lucille Edcuation Centre</strong> where he rounded up his
              secondary school in 2020 and then gained admission to study
              computer science at the
              <strong>Rivers State University</strong> (R.S.U) in that same
              year. During his secondary school days he participated in so many
              award winnig competitions and won most of them he was a very
              bright and intelligent scholar. He is currently based in
              Port-Harcourt city in his final year in the Rivers State
              University
            </p>
          </div>
        </div>

        <div id="showcontact" class="contact">
          <h1 class="conc">Contact Info</h1>
          <div class="cat">
            <img src="/icons/pngwing.com (15).png" alt="" class="iconic" />
            <h2>09071761689</h2>
          </div>
          <div class="cat">
            <img src="/icons/pngwing.com (16).png" alt="" class="iconic" />
            <h2>Ebenezer Jumbo</h2>
          </div>
          <div class="cat">
            <img src="/icons/pngwing.com (17).png" alt="" class="iconic" />
            <h2>@mayor_of_ph</h2>
          </div>
          <div class="cat">
            <img src="/icons/pngwing.com (19).png" alt="" class="iconic" />
            <h2>ebenezerjumbo@gmail.com</h2>
          </div>
          <div class="cat">
            <img src="/icons/blaaah.png" alt="" class="iconic" />
            <h2>@ebenezer_jumbo</h2>
          </div>
        </div>
   
    </div>
    <%- include('./partials/script.ejs') %>
    <script src="/javascript/about.js"></script>
  </body>
</html>
