<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
        <%- include('./partials/lisaheader.ejs') %>


        <div class="container mt-4">
            <form action="/loggedin" method="post">
      
              <label class="ms-1 mt-1" for="email">Email/Phone number</label>
              <input type="email" class="form-control mt-2" id="email" name="email" />
      
              <label class="ms-1 mt-1" for="password">Password</label>
              <input
                type="password"
                class="form-control mt-2"
                id="password"
                name="password"
              />
      
             
      
              <input type="submit" class="form-control text-light bg-primary mt-4" value="Submit" />
            </form>
          </div>


        <%- include('./partials/script.ejs') %>
    
</body>
</html>